<%- include('backend/includes/header.ejs') %>

    <div class="container-fluid">

        <h1 class="h3 mb-4 text-gray-800">Blank Page</h1>

    </div>

<%- include('backend/includes/footer.ejs') %>
    

   